## {{ trial }} Self-Service Imaging Submission Portal

Create a single zip file for each study and drag and drop it onto the
file selection box. The study will be anonymized and uploaded to
central imaging for review.  The enrolling site research admin, central
reader, and PI will be notified by email with the assigned GUID and pseudo-identity.

<form>
  <div class="form-group">
    <label>
      Enrolling Site:
    </label>
    <select class="form-control">
      <option value="site1 ">
        Rhode Island Hospital
      </option>
      <option value="site2">
        Emory University Hospital
      </option>
      <option value="site3">
        University of Michigan Medical Center
      </option>
      <option value="site4">
        Tufts University Hospital
      </option>
    </select>
    <label>
      Upload A File:
    </label>
    <input type="file" class="form-control">
    <button type="submit" class="btn btn-primary">
      Submit!
    </button>
  </div>
</form>