
user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    #include /etc/nginx/conf.d/*.conf;

    upstream tfe {
        server 172.17.0.1:5000;
    }

    upstream orthanc_core {
        server orthanc_core:8042;
    }

    upstream orthanc_ci0 {
        server orthanc_ci0:8042;
    }

    upstream orthanc_hb {
        server orthanc_hb:8042;
    }

    upstream orthanc_p3 {
        server orthanc_p3:8042;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://tfe/;
            proxy_pass_request_headers      on;
        }

        location /orthanc_core/ {
            proxy_pass http://orthanc_core/;
            proxy_pass_request_headers      on;
        }

        location /christianson/ {
            proxy_pass http://orthanc_ci0/;
            proxy_pass_request_headers      on;
        }

        location /hobit/ {
            proxy_pass http://orthanc_hb/;
            proxy_pass_request_headers      on;
        }

        location /protect3/ {
            proxy_pass http://orthanc_p3/;
            proxy_pass_request_headers      on;
        }

    }
}


