<!DOCTYPE html>
<html>
<title>{{ item.title }}</title>

<xmp theme="spacelab" style="display:none;">
{{ item.content }}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>